<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
        >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="contenido" layout:fragment="content">
    <div class="content">
        <h1>PEDIDOS</h1>
        <div class="top">
            <div th:replace="/fragments/storeSelector(storeId=${session.storeId})"/>
            <div th:if="${orderList != null }">
                <div th:replace="/fragments/pageSize" />
            </div>
        </div>
        <br class="clear" />
        <div th:switch="${session.storeId}">
            <p th:case="-2">Selecciona una tienda para continuar</p>
            <div th:case="*">

                <div class="table">
                    <div class="row header">
                        <span class="cell">Pedido #</span>
                        <span class="cell">Comprado el</span>
                        <span class="cell">Factura a nombre</span>
                        <span class="cell">Envio a nombre</span>
                        <span class="cell">Total (Base)</span>
                        <span class="cell">Total (Comprado)</span>
                        <span class="cell">Estado</span>
                        <span class="cell">Ver</span>
                    </div>

                    <div th:each="order: ${orderList}" class="row body">
                        <span class="cell" th:text="${order.increment_id}" />
                        <span class="cell" th:text="${order.created_at}" />
                        <span class="cell" th:text="${order.billing_name}" />
                        <span class="cell" th:text="${order.shipping_name}" />
                        <span class="cell" th:text="${#numbers.formatDecimal(order.base_grand_total, 0, 'POINT', 2, 'COMMA')}" />
                        <span class="cell" th:text="${#numbers.formatDecimal(order.grand_total, 0, 'POINT', 2, 'COMMA')}" />
                        <span class="cell" th:text="${order.status}" />
                        <span class="cell"><a th:href="@{/sales/{id}(id=${order.increment_id})}">Ver</a></span>
                    </div>
                </div>

                <div th:if="${orderList != null }">
                    <div th:replace="/fragments/pagination(url='/sales',numPages=${numPages},storeId=${session.storeId},pageSize=${pageSize},currentPage=${currentPage})" />
                </div>



                <div class="top">
                    <div th:replace="/fragments/storeSelector(storeId=${session.storeId})"/>
                    <div th:if="${orderList != null }">
                        <div th:replace="/fragments/pageSize" />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery('#menuPedidos').addClass('current');
</script>
</body>
</html>