<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
        >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="contenido" layout:fragment="content">
    <div class="content">
        <h1>Productos</h1>
        <div class="top">
            <input type="button" value="Volver atrás" class="button2" onclick="window.history.back();" />

            <input type="submit" class="button" value="Añadir un nuevo producto" onClick="location.href='/aquarius/products/view';" />
            <div th:if="${productList != null }">
                <div th:replace="/fragments/pageSize(sortField='sku',ascDesc='ASC')" />
            </div>
        </div>
        <div class="top">
            <form action="">
                <input type="text" name="q" th:value="${param.q[0]}" th:unless="${param.q == null}" />
                <input type="submit" value="buscar" />
            </form>
        </div>
        <div class="table">
            <div class="row header">
                <span class="cell"><a th:href="@{/products/(sortField='sku',ascDesc=${ascDesc},pageSize=${pageSize})}">Producto:</a></span>
                <span class="cell"><a th:href="@{/products/(sortField='owner',ascDesc=${ascDesc},pageSize=${pageSize})}">Propietario:</a></span>
                <span class="cell">Adicional:</span>
                <span class="cell">Proveedor:</span>
            </div>

            <div th:if="${productList != null }">
                <div th:each="product: ${productList}" class="row body">
                    <span class="cell" th:text="${product.sku}" />
                    <span class="cell" th:text="${product.owner}" />
                    <span class="cell" th:text="${product.additional}" />
                    <span class="cell" th:text="${product.supplier}" />
                    <span class="cell"><a th:href="@{/products/{id}(id=${product.sku})}">Ver</a></span>
                </div>
            </div>
        </div>

        <div th:if="${productList != null }">
            <div th:replace="/fragments/pagination(url='/products',numPages=${numPages},storeId=${session.storeId},pageSize=${pageSize},currentPage=${currentPage})" />
        </div>



    </div>
</div>
<script type="text/javascript">
    $(function() {
        jQuery('#menuProductos').addClass('current');
    });
</script>
</body>
</html>