<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout"
        >
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="contenido" layout:fragment="content">
    <div class="content">
        <h1>Producto</h1>
        <div class="top">
            <input type="button" value="Volver atrás" class="button2" onclick="window.history.back();" />
        </div>
        <br/><br/>


        <form th:if="${product != null }" action="/Aquarius/actions/admin/products/update.do" name="updateProduct" id="updateProduct">

            <label>Producto: </label><input class="required" type="text" readonly="readonly" name="sku" th:value="${product.sku}" />
            <label>Propietario: </label><input class="required" type="text" name="owner" th:value="${product.owner}"/>
            <label>Adicional: </label><input class="required" type="text" name="additional" th:value="${product.additional}" />
            <label>Proveedor: </label><input type="text" name="supplier" th:value="${product.supplier}" />
            <br/><br/><br/>
            <input type="submit" value="Modificar" class="button float"  />

        </form>
        <form th:if="${product != null }" action="/Aquarius/actions/admin/products/delete.do" name="deleteProduct" class="float">
            <input type="submit" value="Eliminar" class="button"  />
            <input type="hidden" name="sku" th:value="${product.sku}"/>
        </form>

        <form th:if="${product == null }"  action="/Aquarius/actions/admin/products/add.do" name="addProduct" id="addProduct">

            <label>Producto: </label><input class="required" type="text" name="sku" value="sku" />
            <label>Propietario: </label><input class="required" type="text" name="owner" value="owner" />
            <label>Adicional: </label><input class="required" type="text" name="additional" value="additional" />
            <label>Proveedor: </label><input type="text" name="supplier" value="supplier" />
            <input type="submit" value="Añadir" class="button"  />

        </form>



    </div>
</div>
<script type="text/javascript">
    $(function() {
        jQuery('#menuProductos').addClass('current');
        jQuery("#addProduct").validate();
        jQuery('#updateProduct').validate();
    });
</script>
</body>
</html>