<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div class="head">
    <div class="logo">&nbsp;</div>

    <div class="nav">
        <div class="menu">
            <ul>
                <li><a id="menuHome" th:href="@{/}"><b>HOME</b></a></li>
                <li><a id="menuPedidos" th:href="@{/sales}"><b>PEDIDOS</b></a>
                    <ul>
                        <li><a th:href="@{/sales/completed}"><b>COMPLETOS</b></a></li>
                        <li><a th:href="@{/sales/fullyCompleted}"><b>TRAMITADOS</b></a></li>
                    </ul>
                </li>
                <li>
                    <a id="menuProductos" th:href="@{/products}"><b>PRODUCTOS</b></a>
                </li>
            </ul>
        </div>
    </div>

</div>
