<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<div id="pageSize">
    <form action="" id="pageSizeForm">
        <label>Mostrar </label>
        <h1 th:text="${pageSize}"/>
        <select name="pageSize" id="pageSizeSelector">
            <option value="10" th:selected="${pageSize == 10} ? selected" >10</option>
            <option value="20" th:selected="${pageSize == 20} ? selected">20</option>
            <option value="30" th:selected="${pageSize == 30} ? selected">30</option>
            <option value="100" th:selected="${pageSize == 100} ? selected">100</option>
        </select>

        <label>por página</label>
        <!--
        <input type="hidden" name="sortField" value="${param.sortField}" />
        <input type="hidden" name="ascDesc" value="${param.ascDesc}" />

        <label>Realizados </label>
        <select name="dateFrom" id="dateFromeSelector">
            <option value="1" rel="${dateFrom}" <c:if test="${dateFrom == 1}">selected="selected"</c:if>>Día anterior</option>
            <option value="2" <c:if test="${dateFrom == 2}">selected="selected"</c:if>>Última semana</option>
            <option value="3" <c:if test="${dateFrom == 3}">selected="selected"</c:if>>Último mes</option>
            <option value="4" <c:if test="${dateFrom == 4}">selected="selected"</c:if>>Último año</option>
        </select>-->
    </form>
    <script type="text/javascript">
        jQuery('#pageSizeSelector').change(function(){
            try{
                var value = jQuery('#pageSizeSelector')[0].options[jQuery('#pageSizeSelector')[0].selectedIndex].value;
                if(value != ''){
                    document.forms["pageSizeForm"].submit();
                }
            }
            catch(exception){
            }
        });
        jQuery('#dateFromeSelector').change(function(){
            try{
                var value = jQuery('#dateFromeSelector')[0].options[jQuery('#dateFromeSelector')[0].selectedIndex].value;
                if(value != ''){
                    document.forms["pageSizeForm"].submit();
                }
            }
            catch(exception){
            }
        });
    </script>
</div>

</body>
</html>