<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div id="pageSize">
    <form action="" id="pageSizeForm">
        <label>Mostrar </label>
        <select name="pageSize" id="pageSizeSelector">
            <option value="10" th:selected="${pageSize == 10} ? selected" >10</option>
            <option value="20" th:selected="${pageSize == 20} ? selected">20</option>
            <option value="30" th:selected="${pageSize == 30} ? selected">30</option>
            <option value="100" th:selected="${pageSize == 100} ? selected">100</option>
        </select>

        <label>por página</label>

        <input type="hidden" name="sortField" th:value="${param.sortField[0]}" th:unless="${param.sortField== null}" />
        <input type="hidden" name="ascDesc" th:value="${param.ascDesc[0]}" th:unless="${param.ascDesc== null}" />

        <label>Realizados </label>
        <select name="dateFrom" id="dateFromeSelector">
            <option value="1" rel="${dateFrom}" th:selected="${dateFrom == 1} ? selected">Día anterior</option>
            <option value="2" th:selected="${dateFrom == 2} ? selected">Última semana</option>
            <option value="3" th:selected="${dateFrom == 3} ? selected">Último mes</option>
            <option value="4" th:selected="${dateFrom == 4} ? selected">Último año</option>
        </select>
    </form>
    <script type="text/javascript">
        jQuery('#pageSizeSelector').change(function(){
            try{
                var value = jQuery('#pageSizeSelector')[0].options[jQuery('#pageSizeSelector')[0].selectedIndex].value;
                if(value != ''){
                    document.forms["pageSizeForm"].submit();
                }
            }
            catch(exception){
            }
        });
        jQuery('#dateFromeSelector').change(function(){
            try{
                var value = jQuery('#dateFromeSelector')[0].options[jQuery('#dateFromeSelector')[0].selectedIndex].value;
                if(value != ''){
                    document.forms["pageSizeForm"].submit();
                }
            }
            catch(exception){
            }
        });
    </script>
</div>